<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.camplogin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampLogin">
        <activity android:name=".reviewList"></activity>
        <activity android:name=".ReviewListActivity" />
        <activity android:name=".GuestReservationAddActivity" />
        <activity android:name=".SearchResultActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".GuestReservationCreditActivity" />
        <activity android:name=".GuestReservationModifyActivity" />
        <activity android:name=".GuestReservationListActivity" />
        <activity android:name=".CampSiteDetailActivity" />
        <activity android:name=".ReviewModifyActivity" />
        <activity android:name=".ReviewWriteActivity" />
        <activity android:name=".requestReservation" />
        <activity android:name=".reservationList" />
        <activity android:name=".campUpdate" />
        <activity android:name=".FindIdentityActivity" />
        <activity android:name=".HostRegisterActivity" />
        <activity android:name=".HostMainActivity" />
        <activity android:name=".GuestMainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>